/*
Paleta:
antiquewhite;<-----crema
background-color: rgb(83, 34, 34);<----marron oscuro
color: rgb(154, 96, 123);<---------rosa enlaces
rgb(216, 150, 181);<----rosa botones
*/

*{
    text-align: center;
}
li,h1,h4,h3{
    color:rgb(83, 34, 34);

}

.bloc{
    width: 100%;
    margin: 20px;
  
    background-color: antiquewhite;
    border-radius: 30px;
    
}

.contenedorBloc{
    
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 400px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.colum_1{
    width: 40%;
}
.row_1{

    height: 40%;
    border-bottom: 2px solid rgb(182, 138, 81);
}
.row_1 img{
    width: 100px;
    height: 100px;
}
.row_2 {
    height: 100%;
}

.row_2 ul li{
    
    list-style-type: circle ;
    list-style-position:inside;
}
.colum_2{
    
   
   border-left: 2px solid rgb(182, 138, 81); 
}